.highlighted {
  background-color:#aaa;
}

.distanceDiv {
  margin-top:3px
}

.lunchtitle {
  font-family: 'Londrina Solid', cursive;
  margin-top: -5px;
  font-size: 16pt;
  display: inline-block;
}

.image img.previewImage {
  height:64px;
}
