div.properties {
  margin-top:20px;
}

div.properties span {
  display:block;
  margin-top:3px;
}
div.properties span i {
  font-weight:bold;
}

.detailedItem {
  width:100%;
  height:100%
}

.closeBtn {
  margin-right:-10px;
}
